<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>One listing</h1>
    <form action="/airbnb/find-one">
      <label for="bedrooms">Minimum number of bedrooms</label>
      <input type="text" id="bedrooms" name="bedrooms" value="1"><br><br>
      <h2>Amenities</h2>
          <input type="checkbox" name="amenities[]" id="wifi" value="Wifi">
          <label for="wifi">Wifi</label><br>
          <input type="checkbox" name="amenities[]" id="pool" value="Swimming Pool">
          <label for="pool">Swimming Pool</label><br>
          <input type="checkbox" name="amenities[]" id="coffee-maker" value="Coffee maker">
          <label for="coffee-maker">Coffee maker</label>

      <br><br>
      <input type="submit" value="Send Query">
    </form>

    <h1>Many listings</h1>
    <form action="/airbnb/find-many">
      <label for="bedrooms">Minimum number of bedrooms</label>
      <input type="text" id="bedrooms" name="bedrooms">
      <input type="submit" value="Send Query">
    </form>


  </body>
</html>
